menu "Example Configuration"

    config BROKER_URL
        string "Broker URL"
        default "mqtt://192.168.0.87"
        help
            URL of the MQTT broker to connect to

    config BROKER_URL_FROM_STDIN
        bool
        default y if BROKER_URL = "FROM_STDIN"

endmenu
